/* 
    custom.css
    Ryan Stumbaugh
    August 20, 2014
*/


/* WRAPPERS */

#headerwrap {
    background: url(../img/bg2.jpg) no-repeat center top;
    background-size: 100% auto;
    padding-top: 40px;
    padding-bottom: 40px;

    background-attachment: relative;
	background-position: center center;

    font-family: "Raleway", sans-serif;
    width: 100%;

    min-height: 500px;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    font-weight: 300;
    font-size: 5.5em;
    color: #fff;
}

#headerwrap h4 {
    font-size: 20px;
    color: #fff;
}

#headerwrap a {
    color:white;
    text-decoration: underline;
}

#aboutwrap {
    background-color: #5F9EA0;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.6;
}

.portfoliowrap {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    background-color: #E5DBCF;
    line-height: 1.6;
}

.blue {
    background-color: #5F9EA0;
    color: white;
}

#footerwrap {
    padding: 40px;
    background-color: #6B6B6B;
}

#footerwrap a {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #5F9EA0;
}

/* MISC */

.title {
    font-weight: bold;
}



.img-responsive {
    border: 2px solid black;
}


.mybtn {
    padding: 10px;
    background-color: #1B3F8B;
    
    color: white;
}

.mybtn:hover {
    background-color: #3A66A7;
    text-decoration: none;
    color: white;
}


